-
  var header = '#experience'
  var experienceList = [
    {
      title: 'Unicorn trainer',
      date: '3544 Sep - present',
      company: 'Galaxy Headquarters',
      responsabilityList: [
        'I had to take care of the bad guys and set them straight',
        'I was in charge of running all the galaxy meetings and make sure that leaders are welcomed',
        'I was the best unicorn trainer as I was able to connect with their souls'
      ]
    },
    {
      title: 'Super Star HTML & CSS',
      company: 'Super FaceBook',
      date: '2010 Oct - 2017 Nov',
      responsabilityList: [
        `I've made the world of chatting a better one`,
        `I've been in charge of innovating all the cool innovations`,
        `I was happy to create the best working mood ever to increase productivity by 500%`,
        `I've achieved perfect client smile with a score of 100% satisfaction`
      ]
    }
  ]
#experience
.experience
  .experience__header=header
  each experience, key in experienceList
    label.experience__title(for=`experience-id-${key}`)=experience.title
    input.experience__input(type="radio", name="the-same", id=`experience-id-${key}`)
    .experience__details
      .experience__top
        .experience__date=experience.date
        .experience__company=experience.company
      .experience__list
        each responsability in experience.responsabilityList
          .experience__responsability=responsability
